# Virtual Environment
venv/
env/
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
.Python

# Models (too large)
models/*.h5
models/*.keras

# Data
dataset/
dataset_split/
*.zip
kaggle.json

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml

# Test files
test.py

# Hugging Face model cache
model_cache/